@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    font-family: 'Inter';
    font-weight: 300;
    padding: 0;
    margin: 0;
}

/* :root {
    --saffron-50: #fefde8;
    --saffron-100: #fdf9c4;
    --saffron-200: #fdf28b;
    --saffron-300: #fbe349;
    --saffron-400: #f8d117;
    --saffron-500: #f4c10b;
    --saffron-600: #c88e06;
    --saffron-700: #9f6609;
    --saffron-800: #84500f;
    --saffron-900: #704113;
    --saffron-950: #412107;
} */

.max-width {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.ph-100 {
    padding-left: 100px;
    padding-right: 100px;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-40 {
    padding: 40px;
}

.grid-c-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-c-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gap-50 {
    gap: 50px;
}

.bg-blue {
    background-color: #2A3439;
}

.white-text {
    color: white;
}

.mt-100 {
    margin-top: 100px;
}